body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }

  .falling-img {
    width: 150;
    height: 150px;
    animation: fallDown 2.9s ease-out;
    position: absolute;
    align-items: center;
    top: 50px; /* Ajusta la posición vertical según tus necesidades */
  }

  .falling-txt {
    width: 150;
    height: 150px;
    animation: fallDown 2.9s ease-out;
    align-items: center;
    top: 40px; /* Ajusta la posición vertical según tus necesidades */
  }

  #falling-btn {
    animation: fallDown 0.8s ease-out;
    align-items: center;
    top: 40px; /* Ajusta la posición vertical según tus necesidades */
  }

  @keyframes fallDown {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .container {
    background-color: transparent;
    padding: 25px;
    border-radius: 20px;
    text-align: center; /* Centrar contenido horizontalmente */
  }

  .centered-btn {
    margin-top: 10px; /* Espacio superior para separar del contenido anterior */
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top, hsl(239, 90%, 30%), #f0f0f0); /* Azul celeste hacia arriba */
  }
  .modal-content, .sidebar, #modal-content {
  background-color: rgba(255, 255, 255, 0.1); /* Color transparente */
  border-radius: 15px;
  border: none;
  backdrop-filter: blur(10px); /* Aplica un efecto de desenfoque */
} 

@font-face {
  font-family: 'Wellbutrin';
  src: url('fonts/Welbut__.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#txt-deg {
  background: linear-gradient(to right, red, orange, yellow); /* Ejemplo de degradado lineal */
  -webkit-background-clip: text; /* Para navegadores basados en WebKit (Chrome, Safari) */
  background-clip: text; /* Para otros navegadores */
  color: transparent; /* El color del texto se vuelve transparente */
}


/*Logs*/

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content {
  margin-left: 4.5rem;
}

.sidebar, #modal-content{
  background-color: rgba(255, 255, 255, 0.1); /* Color transparente */
  border-radius: 15px;
  border: none;
  backdrop-filter: blur(10px); /* Aplica un efecto de desenfoque */
  }
  
.sidebar .nav {
    flex-grow: 1;
}
.dropdown {
    margin-top: auto;
}

/*Views*/


.drop-zone {
  max-width: 100%;
  padding: 20px;
  border: 2px dashed #007bff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.drop-zone--over {
  background-color: #e9ecef;
}
.drop-zone__input {
  display: none;
}

.footer {

  color: white;
  text-align: center;
  padding: 0 rem 0;
  position: absolute;
  bottom: 0;
  width: 50%;
}